.header__lang-link {
  min-width: 22px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  font-family: 'Inter', "Arial", sans-serif;
  margin: 14px 0 8px;
}

.header__lang-link:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

@media screen and (min-width: 768px) {
  .header__lang-link {
    min-width: 30px;
    font-size: 24px;
    line-height: 28px;
    margin: 18px 0 6px;
  }
}
