.header__lang-link {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    line-height: 28px;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Inter';
    min-width: 22px;
    margin: 14px 0 8px;
}

