.cover__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  min-width: 288px;
  min-height: 200px;
  width: 100%;
  background-image: url(../../../images/__background/__background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
}

.cover__link::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  z-index: -1;
  transition: opacity 0.3s ease;
}

.cover__link:hover::before {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .cover__link {
    min-height: 480px;
  }
}

@media screen and (min-width: 1024px) {
  .cover__link {
    min-height: 640px;
  }
}

@media screen and (min-width: 1280px) {
  .cover__link {
    min-width: 1184px;
    min-height: 740px;
  }
}
