.place__title {
  min-width: 288px;
  margin: 0 auto;
  padding-left: 16px;
  margin-left: 0;
  color: #fff;
  font-family: 'Inter', "Arial", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 35px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    padding-right: 10px;
    padding-left: 0;
  }
}

@media screen and (min-width: 1024px) {
  .place__title {
    min-width: 440px;
    font-size: 72px;
    line-height: 76px;
    align-self: end;
  }
}

@media screen and (min-width: 1280px) {
  .place__title {
    min-width: 460px;
  }
}
