.photo-grid {
    display: grid;
    min-width: 288px;
    margin: 64px 16px 0;
    gap: 12px;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(12, 1ft);
    box-sizing: border-box;
}