.photo-grid {
    display: grid;
    min-width: 288px;
    margin: 64px 16px 0;
    gap: 12px;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(12, 1fr);
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    .photo-grid {
        min-width: 720px;
        margin: 88px 24px 0;
        gap: 16px;
        grid-template-columns: repeat(auto-fit, 352px);
        grid-template-rows: repeat(6, 2fr);
        align-items: center;
        justify-content: center;
    } 
}

@media screen and (min-width: 1024px) {
    .photo-grid {
        min-width: 928px;
        margin: 92px 48px 0;
        gap: 14px;
        grid-template-columns: repeat(auto-fit, 300px);
        grid-template-rows: repeat(4, 3fr);
    } 
}

@media screen and (min-width: 1280px) {
    .photo-grid {
        min-width: 1184px;
        margin: 92px 48px 0;
        gap: 16px;
        grid-template-columns: repeat(auto-fit, 284px);
        grid-template-rows: repeat(3, 4fr);
    } 
}