.cover__subtitle {
    position: absolute;
    max-width: 360px;
    margin: 119px auto 0;
    color: #fff;
    text-align: center;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    z-index: 2;
}

@media screen and (min-width: 768px) {
    .cover__subtitle {
        max-width: 360px;
        font-size: 18px;
        line-height: 22px;
        margin: 299px auto 0;
    }
}

@media screen and (min-width: 1024px) {
    .cover__subtitle {
        margin: 379px auto 0;
    }
}

@media screen and (min-width: 1280px) {
    .cover__subtitle {
        margin: 429px auto 0;
    }
}