.cover__subtitle {
  max-width: 288px;
  color: #fff;
  text-align: center;
  font-family: 'Inter', "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    max-width: 360px;
    font-size: 18px;
    line-height: 22px;
  }
}
