.photo-grid__item {
  width: 100%;
  margin: 0 auto;
  box-sizing: content-box;
  min-height: 216px;
  min-width: 288px;
}

@media screen and (min-width: 768px) {
  .photo-grid__item {
    min-width: 352px;
    min-height: 264px;
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid__item {
    min-width: 300px;
    min-height: 225px;
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid__item {
    min-width: 284px;
    min-height: 213px;
  }
}
