.lead__title {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-family: 'Inter', "Arial", sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: 44px;
  min-width: 288px;
  margin: 0 16px 16px;
}

@media screen and (min-width: 768px) {
  .lead__title {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 32px;
    font-size: 96px;
    line-height: 100px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__title {
    margin-left: 104px;
    margin-right: 104px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__title {
    margin-left: 132px;
    margin-right: 132px;
  }
}
