.place__paragraph {
  min-width: 288px;
  color: #fff;
  font-family: 'Inter', "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 163%;
  flex-wrap: wrap;
  height: fit-content;
  margin: 0;
  margin-left: 16px;
  margin-right: 16px;
}

@media screen and (min-width: 1024px) {
  .place__paragraph {
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .place__paragraph {
    min-width: 484px;
  }
}
