.footer__copyright {
  width: fit-content;
  margin: 48px 0 0 0;
  color: #fff;
  font-family: 'Inter', "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    margin: 0;
    line-height: 16px;
  }
}
