.intro__text {
  min-width: 288px;
  color: #fff;
  font-size: 16px;
  font-family: 'Inter', "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 163%;
  margin: 40px 0 0;
}

@media screen and (min-width: 768px) {
  .intro__text {
    max-width: 720px;
  }
}

@media screen and (min-width: 1024px) {
  .intro__text {
    max-width: 690px;
  }
}
