.cover {
  position: relative;
  min-width: 288px;
  min-height: 200px;
  margin: 66px auto 0;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .cover {
    min-width: 100%;
    min-height: 480px;
    margin-top: 90px;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    min-height: 640px;
    margin-top: 92px;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    min-width: 1184px;
    min-height: 740px;
    padding-left: 48px;
    padding-right: 48px;
  }
}
