.cover__overlay {
    min-width: 320px;
    min-height: 200px;
    opacity: 0.3;
    background: #2A2c2f;
    z-index: 1;
}

.cover__overlay:hover {
    opacity: 0.8;
}

@media screen and (min-width: 768px) {
    .cover__overlay {
        min-width: 768px;
        min-height: 480px;
    }
}

@media screen and (min-width: 1024px) {
    .cover__overlay {
        min-width: 1024px;
        min-height: 640px;
    }
}

@media screen and (min-width: 1024px) {
    .cover__overlay {
        min-width: 1184px;
        min-height: 740px;
    }
}