.lead__caption {
  min-width: 158px;
  text-align: left;
  color: #fff;
  font-size: 10px;
  font-family: 'Inter', "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__caption {
    margin-left: 0;
  }
}

