.cover__title {
  max-width: 288px;
  color: #fff;
  font-family: 'Inter', "Arial", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 35px;
  text-align: center;
  margin: 0 0 16px 0;
}

@media screen and (min-width: 768px) {
  .cover__title {
    max-width: 560px;
    font-size: 72px;
    line-height: 76px;
    margin-bottom: 32px;
  }
}
