.place {
  display: grid;
  min-width: 320px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:
    "title"
    "website"
    "image"
    "paragraph";
  grid-template-rows: auto;
  justify-items: center;
  gap: 32px;
  margin-bottom: 50px;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .place {
    max-width: 720px;
    grid-template-columns: 340px 1fr;
    grid-template-areas:
      "title website"
      "image paragraph";
    column-gap: 28px;
    row-gap: 48px;
    margin-bottom: 73px;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    max-width: 928px;
    grid-template-columns: 440px 1fr;
    column-gap: 32px;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1288px) {
  .place {
    max-width: 984px;
    grid-template-columns: 460px 1fr;
    column-gap: 40px;
  }
}
