.place__website {
  min-width: 288px;
  display: flex;
  margin: 0 16px;
  gap: 12px;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .place__website {
    min-width: 352px;
    margin: 0;
    align-content: flex-start;
    align-self: end;
  }
}

@media screen and (min-width: 1024px) {
  .place__website {
    min-width: 456px;
    margin: 0;
  }
}
