.intro__title {
    color: #fff;
    font-size: 54px;
    font-family: ;
    font-style: normal;
    font-weight: 900;
    line-height: 58px;
    border: 1px solid red;
    width: 690px;
    margin: 0;
}